*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, .7);
  font-family: Georgia, sans-serif;
}

.container {
  max-width: 750px;
  background: linen;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 5px;
}

p {
  font-size: 1.2em;
  line-height: 1.2;
}

section input {
  font-weight: bold;
  font-family: Georgia, sans-serif;
}

.aStyle {
  text-decoration: none;
  padding: 5px; 
  -webkit-transition: color .4s; 
  transition: color .4s;
}

.aStyle:hover {
  color: tomato;
}
