<!DOCTYPE html>
<html xmlns:ng='http://angularjs.org'>
  <head>
    <title><%= title %></title> <!-- <%= %> tell ejs engine where to render the template variables (title, in this case) -->
    <link rel='stylesheet' type='text/css' href='/css/styles.css'>
  </head>
  <body>
    <div class='container'>
      <% if (user) { %>
      <a href='/signout'>Sign Out</a>
      <% } else { %>
        <a class='aStyle' href='/signup'>Sign Up</a>
        <a class='aStyle' href='/signin'>Sign In</a>
      <% } %>
      <h1><%= title.toUpperCase() %></h1>
      <img src='img/logo.png' alt='Logo'>
      <p>This is the start of a MEAN project. Don't know what "MEAN" is? No sweat! It's an acronym that stands for Mongo, Express, Angular, and Node. What's so special about it? Well, each of the said web technologies has something that links them all: JavaScript! More to come . . .</p>

      <p>Below are two text inputs. These demonstrate Angular's two-way data binding. Type in one to update the other.</p>
      <section ng-view></section>
    </div>
    <script type='text/javascript'>
       window.user = <%- user || 'null' %>;
    </script>
    <script type='text/javascript' src='/lib/angular/angular.js'></script>
    <script type='text/javascript' src='/lib/angular-route/angular-route.js'></script>
    
    <script type='text/javascript' src='/example/example.client.module.js'></script>
    <script type='text/javascript' src='/example/controllers/example.client.controller.js'></script>
    <script type='text/javascript' src='/example/config/example.client.routes.js'></script>

    <script type='text/javascript' src='/users/users.client.module.js'></script>
    <script type='text/javascript' src='/users/services/authentication.client.service.js'></script>
    <script type='text/javascript' src='/app.js'></script>
  </body>
</html>
