<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title> <!-- <%= %> tell ejs engine where to render the template variables (title, in this case) -->
    <link rel='stylesheet' type='text/css' href='css/styles.css'>
  </head>
  <body>
    <div class='container'>
      <h1><%= title.toUpperCase() %></h1>
      <img src='img/logo.png' alt='Logo'>
      <p>This is the start of a MEAN project. Don't know what "MEAN" is? No sweat! It's an acronym that stands for Mongo, Express, Angular, and Node. What's so special about it? Well, each of the said web technologies has something that links them all: JavaScript! More to come . . .</p>
    </div>
  </body>
</html>
